---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=<CURRENCY_LAYER_KEY>&currencies=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 106
      message: OK
    headers:
      X-Apilayer-Transaction-Id:
      - 0ef684e1-07b6-432a-918b-947162ef5e3f
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106, "info":"The users query did not return any
      results [Technical Support: support@apilayer.com]"}}'
  recorded_at: Fri, 24 Feb 2017 14:34:44 GMT
recorded_with: VCR 3.0.3
