---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/live?access_key=<CURRENCY_LAYER_KEY>&currencies=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apilayer-Transaction-Id:
      - a91b773a-9248-4cd4-880f-11859027f370
      Last-Modified:
      - Fri, 24 Feb 2017 15:22:13 GMT
      Etag:
      - 10c18ac9cf530733ab59777b0e7eb293
      Content-Type:
      - application/json; Charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","timestamp":1487949733,"source":"USD","quotes":{"USDRUB":58.405998}}'
  recorded_at: Fri, 24 Feb 2017 15:20:14 GMT
recorded_with: VCR 3.0.3
